/* general styling 
Borrowed from the MDN Violent Theremin example project, linked to here: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API
*/

html {
  font-size: 10px;
  height: 100%;
}

body {
	width: 100%;
	height: inherit;
}

canvas {
  display: block;
}

/* header styling */

h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 3rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

/* button styling */

buttton {
    background-color: #0088cc;
    background-image: linear-gradient(to bottom,  #0088cc 0%, #0055cc 100%); 
    text-shadow: 1px 1px 1px black;  
    text-align: center;
    color: white;
    border: none;
    width: 200px;
    font-size: 1.6rem; 
    line-height: 2rem;
    padding: 1rem; 
    display: inline;
    //opacity: 0.3;
    
    transition: 1s all;
    -webkit-transition: 1s all;

    position: relative;
}

button {
	font: 12px/14px sans-serif;
    background-color: #0088cc;
    background-image: linear-gradient(to bottom,  #0088cc 0%, #0055cc 100%); 
    text-shadow: 1px 1px 1px black;  
    text-align: center;
    color: white;
    border: none;
    width: 200px;
    font-size: 1.6rem; 
    line-height: 2rem;
    padding: .5rem; 
    display: inline;
    //opacity: 0.3;
    
    transition: 1s all;
    -webkit-transition: 1s all;

    position: relative;
}

button:hover, button:focus {
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.7);
  opacity: 1;
}

button:active {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0.7);
}

.on {
  background-color: #ffffcc;
    background-image: linear-gradient(to bottom,  #ff88cc 0%, #ff55cc 50%); 
    text-shadow: 1px 1px 1px red;
    color: yellow;
    border: none;
    font-size: 1.6rem; 
    line-height: 2rem;
    padding: .5rem; 
    opacity: 0.3;
    transition: 1s all;
    -webkit-transition: 1s all;

    position: relative;
}

#listen {
	line-height: 6rem;
	font-size: 6rem;
	width: 400px; 
}

#activated {
  background-color: red;
  color: white;
}

.mute {
  top: 41px;
  left: 5px;
}

.clear {
  top: 6px;
  left: 5px;
}

p {
	font: 12px/14px sans-serif;
	background-color: #0088cc;
    background-image: linear-gradient(to bottom,  #0088cc 0%, #0055cc 100%); 
    text-shadow: 1px 1px 1px black;  
    text-align: center;
    color: white;
    border: none;
    width: 800px;
    font-size: 1.6rem; 
    line-height: 2rem;
    padding: .5rem; 
    display: block;
    //opacity: 0.3;
    
    transition: 1s all;
    -webkit-transition: 1s all;

    position: relative;
}

p#instructions {
	font-size: 1.4rem; 
	text-align: left;
}